<!-- your html code here -->
<div class="row d-flex mt-5 mb-5 ">

  <div class="col-9">
    <h4 class="me-0">The First Heading <h4 class="text-secondary ms-0">Will catch your eye </h4> </h4>
    <p class="float-left">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.!</p>  
  </div>
  
  <div class="col-3">
          <img class="rounded-circle" 
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYAeWipsOk9gKL9znoGdvFsSG6NVafwJnTmg&s">
  </div>
      
</div>

    
    

  
  