<!-- your html code here -->
<ul class="nav bg-dark">
    <li class="nav-item ">
      <a class="nav-link active text-secondary" aria-current="page" href="#">Start Bootstrap</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary small" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary small" href="#">Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary small" aria-current="page" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary small" href="#">Contact</a>
      </li>
  </ul>