<!-- your html code here -->
<h2>Portfolio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel tellus a enim ornare consectetur. Proin vel eros
    ante. Cras pulvinar mattis nulla id placerat. Nullam laoreet et sapien in interdum. Donec et sagittis nisl.</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel tellus a enim ornare consectetur.</p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel tellus a enim ornare consectetur.</p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel tellus a enim ornare consectetur.</p>
            </div>

        </div>
    </div>
</div>